/* HEADER STYLE --- Viki */

	header .h1 {text-align:center;
		color: #4e5a65;
		background-color: #b5c9d5;}







/* -----HEADER STYLE END------ */


/* NAVIGATION BAR STYLE ---Myla */
        .navbar {
                background-color: #4e5a65;
                width: 100%;
                position: fixed;
                padding-right: 40px;
                right: 0;
                top: 0;
                }

        .navbar a {
                font-family:  courier;
                display: block;
                color: #b5c9d5;
                text-align: center;
                padding: 5px 60px;
                text-decoration: none;
                float: right;
                }

        .navbar a:hover {
                background: #748a9e;
                color: #4e5a65;
                }
/* -----NAVIGATION BAR STYLE END------ */

/* -----BODY STYLE END------ */

  body {
  background-image: url("");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 1800px 1300px;
  opacity: 0.6;
  }

/* BODY STYLE --- Viki und Cheda */
img {float:right; margin-right:10px;}




/* SECTION STYLE --- */

section {
        width: 75%;
        padding-top: 10pxpx;
        aligh: left;
}

/* ---SECTION STYLE END------ */



/* ----SHOP SECTION STYLE-----*/
        .items{
                text-align:center;
                margin:50px auto;
                }


        .items figure   {
                margin:0px 20px;
                display:inline-block;
                text-decoration:none;
                color: #4e5a65;
                }

/* ----SHOP SECTION STYLE END-----*/




/* -----ASIDE STYLE------ */

        aside {
                width: 20%;
                text-align: left;
                margin-top: 15px;
                margin-left: 5px;
                padding-left: 40px;
                padding-right: 20px;
                float: right;
                }


/* ----------ASIDE STYLE ENDE ----------*/



/* -----BUTTON STYLE------ */

	.button {
 		background-color: #4e5a65;
  		border: none;
  		color: white;
  		padding: 15px 32px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 4px 2px;
 		cursor: pointer;
}

/* ----------BUTTON STYLE ENDE ----------*/




/* -----FOOTER STYLE -nur wenn wir noch Zeit haben------ */

/* ----------FOOTER STYLE ENDE ----------*/
