
/* HEADER STYLE --- Viki */







/* -----HEADER STYLE END------ */


/* NAVIGATION BAR STYLE ---Myla */
        .navbar {
                background-color: #4e5a65;
                width: 100%;
                position: fixed;
                padding-right: 40px;
                right: 0;
                top: 0;
                }

        .navbar a {
                font-family:  courier;
                display: block;
                color: #b5c9d5;
                text-align: center;
                padding: 5px 60px;
                text-decoration: none;
                float: right;
                }

        .navbar a:hover {
                background: #748a9e;
                color: #4e5a65;
                }
/* -----NAVIGATION BAR STYLE END------ */



/* SECTION STYLE --- Viki und Cheda */

  {
  background-image: url("https://img.freepik.com/free-photo/top-view-camera-inside-case_23-2148019217.jpg?w=996&t=st=1676573901~exp=1676574501~hmac=312b953853538d83f765f1121179cbaf2ba26b39f49c2efab3ce12b3b90ee2dd");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 1800px 1300px;
  }




/* -----SECTION STYLE END------ */



/* -----ASIDE STYLE -nur wenn wir noch Zeit haben------ */

/* ----------ASIDE STYLE ENDE ----------*/

/* -----FOOTER STYLE -nur wenn wir noch Zeit haben------ */

/* ----------FOOTER STYLE ENDE ----------*/






